{% extends 'base.html'%}
  

{% block content %}

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <nav id="scrollspy" class="navbar page-navbar navbar-dark navbar-expand-md fixed-top" data-spy="affix" data-offset-top="20">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}"><strong class="text-primary">STOCK PREDICTION </strong>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">

                    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'add_stock' %}">Add Stock</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'predict' %}">Predict</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:8000/admin" title="Go to Admin page" target="_blank">Database Admin</a>
                    </li>

                </ul>
            </div>
            <li>
            <form action="{% url 'result' %}" class="form-inline my-2 my-lg-0" method="POST">
                    {% csrf_token %}
                <input name="ticker" class="form-control mr-sm-2" type="search"
                placeholder="Get Stock Quote" aria-label="Search"><button class="btn btn-outline-success my-2 my-sm-0
                " type="submit">Stock Quote</button>
            </form>
            </li>
        </div>
    </nav>
    
    <header class="header d-flex justify-content-center" style="height: 800px;">
        <div class="container">
            <div class="row h-100 align-items-center">
                <div class="col-md-7">
                    <div class="header-content">
                        <h4 class="header-subtitle">Delete Stock </h4>&nbsp;
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-warning
                                alert-dismissable" role="alert">
                                    <button class="close" data-dismiss="alert">
                                        <small><sup>&nbsp;x</sup></small>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        {% endif %}


                        
                        <div class="col-md-3">
                            <table class="table table-striped table-bordered table-hover text-nowrap ">
                                <thead class="thead-light" >
                                <tr>
                                    
                                    <th scope="col" >Company Symbol</th>
                                    
                                    <th scope="col">Delete Stock</th>

                                    
                                </tr>
                                </thead>
                                <tbody class="text-light bg-secondary">
                                    {% if ticker %}
                                        

                                            
                                                {% for item in ticker %}
                                                    <tr>
                                                       
                                                        <th scope="row">{{ item }} </th>
                                                        <td><a href="{% url 'delete' item.id%}">
                                                            Delete {{item}}
                                                        </a></td>

                                                        
                                                    </tr>
                                                {% endfor %}
                                                
                                                
                                            
                                        
                                    
                                    {% endif %}
                                </tbody>
                            </table><br/><br/><br/>
                        </div>
                          
                        
                            <!-- {% for item in ticker %}
                                {{ item }} - <a href="{% url 'delete' item.id%}">
                                    Delete Stock
                                </a><br/>
                            {% endfor %} -->
                    </div>  
                </div>
               
            </div>  
        </div>
    </header>

    
                <!-- <div class="col-lg-4 d-none d-lg-block align-self-center">
                    <img src="assets/imgs/eiffel-tower.svg" alt="" class="w-100 tower">
                </div> -->
    
    
    
    
   
    <br/>
    <footer class="footer py-4 bg-dark text-light"> 
        <div class="container text-center">
            <p class="mb-4 small"> <script>document.write(new Date().getFullYear())</script> &copy; <a href=''>F18030124</a></p>
            <div class="social-links">
                <a href="javascript:void(0)" class="link"><i class="ti-facebook"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-twitter-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-google"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-pinterest-alt"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-instagram"></i></a>
                <a href="javascript:void(0)" class="link"><i class="ti-rss"></i></a>
            </div>
        </div>
    </footer>


</body>
{% endblock %} 